.figure {
	position: relative;
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-areas: 'show';
	--animation-before: translate(100%);
	--animation-after: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

	--transition-before: 0.2s transform;

	border-radius: 10px;

	overflow: hidden;
}

.button_heart {
	transform: scale(0);
}
.button_download {
	transform: scale(0);
}
.button_view {
	transform: scale(0);
}

.figure:hover {
	--animation-before: translate(1);
	--animation-after: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	--transition-before: 0.3s transform;

	& .button_heart {
		display: flex;
		position: absolute;
		bottom: 20px;
		left: 20px;
		width: 25px;
		z-index: 30;
		transform: scale(1);
		transition: 1s;
	}
	& .button_heart:active {
		transform: scale(0.8);
		transition: 0.1s;
	}

	& .button_download {
		display: flex;
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 25px;
		z-index: 30;
		transform: scale(1);
		transition: 1s;
	}
	& .button_download:active {
		transform: scale(0.8);
		transition: 0.1s;
	}

	& .button_view {
		display: flex;
		position: absolute;
		width: 45px;
		padding: 3px;
		bottom: 10px;
		right: 40%;
		justify-content: center;
		background-color: white;
		border-radius: 11px;
		z-index: 30;
		transform: scale(1);
		transition: 1s;
	}
}

.figure::before {
	content: '';
	width: 350px;
	height: 350px;
	background-color: rgba(0, 0, 0, 0.3);
	grid-area: show;
	z-index: 10;

	transform: var(--animation-before);
	transition: var(--transition-before);
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	grid-area: show;
}

.figure_Mobile {
	content: '';
	width: 350px;
	height: 350px;
	background-color: rgba(0, 0, 0, 0.3);
	grid-area: show;
	z-index: 10;
}
